.header {
	display: flex;
	font-family: "Comic Sans MS";
	color: white;
	font-size: 40px;
	position: relative;
	 /*top: %;
	 left: 10%;*/
}
/*.nav-bar {ss
	display: flex;
}
.nav-bar > div {
	padding: 15px;
}*/
/*.tab {
	background-color: #6d123f;
	font-family:"Comic Sans MS";
	font-size: 30px;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 15%;
}
.tab.extra{
	background-color: #6d123f;
	font-family:"Comic Sans MS";
	font-size: 30px;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 62%;
}*/

.main-body {
	font-family: "Comic Sans MS";
	color: white;
	font-size: 20px;
}
.main-body1 {
	font-family: "Comic Sans MS";
	color: white;
	font-size: 20px;
}

/********************************TABS**************************************/
.tab{
	overflow: hidden;
	border: 2px solid #ccc;
	background-color: #6d123f;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.2s;
  color: white;
  font-family:"Comic Sans MS";
  font-size: 30px;
  align-items: center;
  justify-content:center;
}

#Home, #Description, #Videos{
	font-family:"Comic Sans MS";
	color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/********************************TABS**************************************/
a {
	color: white;
}
/*h1 {
	font-size: 80px;
}*/
/*Below changes the color of the links if user hovers or visits them*/
/*a:visited {
  color: #636;
}*/
/*a:hover, a:active, a:focus {
  color:#c33;
}*/
body, html {
	height: 100%;
}
.hero-image{
	/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/danke.png");
	/* Set a specific height */
	height: 100%;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*position: relative;*/
}
/* Place text in the middle of the image */
.hero-text {
  /*text-align: center;*/
/*  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  color: white;
}