.header {
	display: flex;
}
.nav-bar {
	display: flex;
}
.nav-bar > div {
	padding: 10px;
}
.tab {
	background-color: pink;
}
.tab.extra{
	background-color: yellow;
}
/*.main-body {
	display: flex;
}*/