
.main-body {
	font-family: "Comic Sans MS";
	color: white;
	font-size: 20px;
}
.main-body1 {
	font-family: "Comic Sans MS";
	color: white;
	font-size: 20px;
}
.description_info{
	font-size:20px;
}
/********************************TABS**************************************/
.tab{
	overflow: hidden;
	/*border: 3px solid white;*/
	background-color: #ba5a87;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	text-align: center;
	z-index: 9999;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.1s;
  color: white;
  font-family:"Comic Sans MS";
  font-size: 30px;
  align-items: center;
  justify-content:center;
}

.header {
	/*display: flex;*/
	font-family: "Comic Sans MS";
	color: white;
	font-size: 60px;
	/*margin: 0 auto;*/
	align-items: center;
	text-align: center;
}


#Home, #About_Us, #Our_Story, #Meet_Danke{
	top: 110px;
	position: relative;
	font-family:"Comic Sans MS";
	color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #6d123f;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #6d123f;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
}
/********************************TABS**************************************/
/*********************Videos_Gallery********************/
.videos_gallery{
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(430px, auto));
	grid-gap: 1rem;
}
/********************Videos_Gallery*********************/
.home_paragraph{
	/*margin: 0 auto;*/
	width: 1100px;
}
.story_info{
	font-size: 20px;
	width: 1100px;
}
.about_info{
	font-size: 30px;
	width: 1100px;
}

.member_info{
	font-size: 20px;
	width: 1100px;
}

body, html {
	height: 100%;
	background-color: #77bcd4;
}
