
/*dark purple: #6d123f*/
/*blue color: #77bcd4*/
/*light pink: */
.main-body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: black;
	font-size: 20px;
}
.main-body1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: white;
	font-size: 20px;
}
.description_info{
	font-size:20px;
}
/********************************TABS**************************************/
#tab{
	overflow: hidden;
	/*border: 3px solid white;*/
	/*background-color: #ba5a87;*/
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	display: block; 
	/* display: block lets the logo be on top of the tabs*/
	/* display: flex lets the logo be next to the tabs*/
	transition: 0.2s;
	text-align: center;
	z-index: 9999;
    /*box-shadow: 0 5px 5px rgba(50, 50, 50, 0.75);*/
}

.mini-nav {
	width: calc(100vh - 100px); 
	border-radius: 2px;
	/*box-shadow: 0px 1px 10px #999;*/
	box-shadow: 0 5px 5px rgba(50, 50, 50, 0.75);
}

.header-mini{
	height: 50%;
/*	font-family: "Comic Sans MS";
	margin: 0 auto;
	align-items: center;*/
}

/*#navBar {
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: #DEDEDE;
  transition: 0.2s;
  display: flex;
}
*/
.floatingNav {
  width: calc(100vh - 100px); 
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}

/* Style the buttons that are used to open the tab content */
.tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.1s;
  color: black;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 30px;
  align-items: center;
  justify-content:center;
}

.tablinks-mini{
	font-size: 20px;
}

.header {
	/*display: flex;*/
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: black;
	font-size: 60px;
	/*margin: 0 auto;*/
	align-items: center;
	text-align: center;
}

.header img{
	width: 500px;
	height: 70px;
}


#Home, #About_Us, #Our_Story, #Meet_Danke{
	top: 110px;
	position: relative;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: black;
}

/* Change background color of buttons on hover */
#tab button:hover {
  background-color: #6d123f;
  color: white;
}

/* Create an active/current tablink class */
#tab button.active {
  background-color: #6d123f;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
  /*background: linear-gradient(to bottom, #c5deea 0%, #8abbd7 31%, #066dab 100%);*/*/
}

/********************************TABS**************************************/
/*********************Videos_Gallery********************/
.videos_gallery{
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(430px, auto));
	grid-gap: 1rem;
}
/********************Videos_Gallery*********************/
.home_paragraph{
	/*margin: 0 auto;*/
	width: 1100px;
}
.story_info{
	font-size: 20px;
	width: 1100px;
}
.about_info{
	font-size: 30px;
	width: 1100px;
}

.member_info{
	font-size: 20px;
	width: 1100px;
}

body, html {
	height: 100%;
	background-color: white;
	background-color: #77bcd4;
	/*background: linear-gradient(to bottom, #c5deea 0%, #8abbd7 31%, #066dab 100%);*/
}




